* {
    font-family: 'Concert One', cursive;
    font-family: 'Patrick Hand', cursive;
}

body {
    background-image: url(https://img.freepik.com/premium-photo/aesthetic-beautiful-water-color-background-abstract-pink-fuchsia_594654-538.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    display: grid;
    grid-template-areas: 
    "aside main main main main main main main main main main main main main main main main main main main main main main main main main main main";
    height: 100vh;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}
/*Estilizacion de tarjetas/contenedores*/
.tarjeta {
    margin: 5%;
    overflow-x: hidden;
}

.tarjeta1 {
    box-shadow: 10px 2px 50px rgba(0, 0, 0, 0.7);
}

.tarjeta2 {
    background-color: rgb(68, 0, 37);
    text-decoration-color: rgb(255, 255, 255);
}


.items li {
    background-color: #72003F;
}

/*Sidebar*/
aside {
    grid-area: aside;
    background-color: rgb(114, 0, 63);
    box-shadow: 10px 2px 50px rgba(0, 0, 0, 0.7);
    display:flex ;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    
}

.nombre {
    font-size: 45px;
    font-weight: 60px;
    text-align: center;
    position: relative;
    bottom: -15px;
    color: #ffffff;
}

.usuarioimg {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: auto;
    display:flex ;
    justify-content: center;
}


ul {
    list-style: none;
    padding: 0 15px;
}
/*Botones sidebar*/
#navegador li{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    position: relative;
    bottom: -15px;
    cursor: pointer;
    justify-content: center;
}

#navegador li a {
    padding: 10px 20px 10px 20px;
    color: rgb(255, 255, 255);
    background-color: #ff00c859;
    border: 1px solid rgb(231, 0, 108);
    border-radius: 100px;
    font-size:x-large;
    text-decoration: none;
    transition: color 0.2s ease, font-size 0.2s ease;
}

#navegador li a:hover {
    background-color: rgb(68, 0, 37);
    color: rgb(255, 69, 208);
    font-size: xx-large;
}
/*Boton Info&Precios visto en la seccion "Terminos y Condiciones"*/
#navegador2 li{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    position: relative;
    bottom: -15px;
    cursor: pointer;
    justify-content: center;
}

#navegador2 li a {
    padding: 10px 20px 10px 20px;
    color: rgb(255, 255, 255);
    background-color: #ff00c859;
    border: 1px solid rgb(231, 0, 108);
    border-radius: 100px;
    font-size:large;
    text-decoration: none;
    transition: color 0.2s ease, font-size 0.2s ease;
}

#navegador2 li a:hover {
    background-color: rgb(68, 0, 37);
    color: rgb(255, 69, 208);
    font-size: x-large;
}
/*Botones redes sociales*/
#navegador3 li{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    position: relative;
    bottom: -15px;
    cursor: pointer;
    justify-content: center;
}

#navegador3 li a {
    padding: 10px 20px 10px 20px;
    color: rgb(255, 255, 255);
    background-color: #ff00c859;
    border: 1px solid rgb(231, 0, 108);
    border-radius: 100px;
    font-size: medium;
    text-decoration: none;
    transition: color 0.2s ease, font-size 0.2s ease;
}

#navegador3 li a:hover {
    background-color: rgb(68, 0, 37);
    color: rgb(255, 69, 208);
    font-size: large;
}


@media (max-width: 768px) {
    #navegador3 li {
         display: flex;
         flex-direction: column;
    }

    #navegador3 li a {
        margin-top: 9px;
    }

    aside {
        width: 150px;

    }

    .usuarioimg {
        position: relative;
        left: -10px;
        width: 135px;
        height: 135px;
    }

    .nombre {
        font-size: 30px;
        text-align: center;
        position: relative;
        left: -5px;
        bottom: -15px;
        color: #ffffff;
    }

    #navegador li{
        display: flex;
        align-items: center;
        text-align: center;
        margin: 10px 0;
        position: relative;
        left: -12px;
        bottom: -15px;  
        cursor: pointer;
        justify-content: center;
    }
    
    #navegador li a {
        font-size: large;
    }
}