* {
    font-family: 'Concert One', cursive;
    font-family: 'Patrick Hand', cursive;
}

body {
    background-image: url(https://img.freepik.com/premium-photo/aesthetic-beautiful-water-color-background-abstract-pink-fuchsia_594654-538.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    display: grid;
    grid-template-areas: 
    "aside main main main main main main main main main main main main main main main main main main main main main main main main main main main";
    height: 100vh;
}


aside {
    grid-area: aside;
    background-color: rgb(114, 0, 63);
    box-shadow: 10px 2px 50px rgba(0, 0, 0, 0.7);
    display:flex ;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    height: auto;
    
}

.sidebar {
    position: fixed;
    width: 240px;

}

.nombre {
    font-size: 45px;
    font-weight: 60px;
    text-align: center;
    position: relative;
    bottom: -15px;
    color: #ffffff;
}

.usuarioimg {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: auto;
    display:flex ;
    justify-content: center;
}


ul {
    list-style: none;
    padding: 0 15px;
}

#navegador li{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    position: relative;
    bottom: -15px;
    cursor: pointer;
    justify-content: center;
}

#navegador li a {
    padding: 10px 20px 10px 20px;
    color: rgb(255, 255, 255);
    background-color: #ff00c859;
    border: 1px solid rgb(231, 0, 108);
    border-radius: 100px;
    font-size:x-large;
    text-decoration: none;
}

#navegador li a:hover {
    background-color: rgb(68, 0, 37);
    color: rgb(255, 69, 208);
}

main {
    grid-area: main;
    flex-direction: column;
    justify-content: center;
}

.tarjeta {
    margin: 5%;
}

.tarjeta1 {
    box-shadow: 10px 2px 50px rgba(0, 0, 0, 0.7);
}

.tarjeta2 {
    background-color: rgb(68, 0, 37);
    text-decoration-color: rgb(255, 255, 255);
}

.items li {
    background-color: #72003F;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }